<ion-card class="filters-card grid22">
    <ion-card-content>
        <div class="cell">
            <div class="input-with-icon">
                <ion-icon name="search-outline"></ion-icon>
                <ion-input
                placeholder="Buscar número, cliente, correo o teléfono"
                [(ngModel)]="q"
                (ionInput)="onFilterTyping()">
                </ion-input>
                <ion-button size="small" fill="clear" (click)="clearSearch()" *ngIf="q?.length">Limpiar</ion-button>
            </div>
        </div>
        <div class="cell">
            <ion-select
                label="Estado"
                labelPlacement="stacked"
                interface="popover"
                [multiple]="true"
                [value]="estadosSel"
                (ionChange)="onEstadosChange($event)">
                <ion-select-option *ngFor="let e of estadosAll" [value]="e.value">
                {{ e.label }}
                </ion-select-option>
            </ion-select>
            <div class="chips" *ngIf="estadosSel?.length">
                <ion-badge color="medium" *ngFor="let e of estadosSel" (click)="removeEstado(e)">{{ e }}</ion-badge>
                <ion-button size="small" fill="clear" (click)="clearEstados()">limpiar</ion-button>
            </div>
        </div>
        <div class="cell">
            <ion-input
                type="date"
                label="Desde"
                labelPlacement="stacked"
                [(ngModel)]="fdesde"
                (ionChange)="applyFilters()">
            </ion-input>
        </div>
        <div class="cell">
            <ion-input
                type="date"
                label="Hasta"
                labelPlacement="stacked"
                [(ngModel)]="fhasta"
                (ionChange)="applyFilters()">
            </ion-input>
        </div>
    </ion-card-content>
</ion-card>


<ion-list class="orders-list">
    @for (o of rows; track o.id) {
        <ion-item class="order-card" button (click)="openDetail(o)">
            <div class="grid">
                <!-- fila 0 -->
                <div class="c00 num">{{ o.numero }}</div>
                <div class="c01">
                    <ion-badge class="state" [color]="badgeColorEstado(o.estado)">{{ o.estado }}</ion-badge>
                </div>
                <div class="c02 total">{{ money(o.total, o.moneda) }}</div>

                <!-- fila 1 -->
                <div class="c10 date">{{ o.created_at | date:'short' }}</div>
                <div class="c11 name" title="{{o.cliente_nombre}}">{{ o.cliente_nombre }}</div>
                <div class="c12">
                    @if(o.estado==='PENDIENTE'){
                        <ion-button
                            fill="clear" size="small" (click)="$event.stopPropagation(); openAssign(o)">
                            Asignar
                        </ion-button>
                    }
                </div>
            </div>
        </ion-item>
    }
    @if(!loading && rows.length===0){
        <div class="ion-text-center"  style="padding:8px;color:var(--ion-color-medium)">
            No hay pedidos para mostrar.
        </div>
    }
    @if(hasMore && !loading){
        <div class="ion-text-center" style="margin:12px 0">
            <ion-button fill="outline" size="small" (click)="fetch()">Cargar más</ion-button>
        </div>
    }
</ion-list>

