<ion-header>
    <ion-toolbar>
        <ion-title>{{ title }}</ion-title>

        <ion-buttons slot="end">
            @if(user){
                <ion-chip class="user-chip">
                    <ion-label>{{ user.nombre_completo }}</ion-label>
                </ion-chip>
            }

            @if(showLogout){
                <ion-button type="button" (click)="logout()" aria-label="Cerrar sesión">
                    <ion-icon name="log-out-outline" slot="start"></ion-icon>
                    Salir
                </ion-button>
            }
        </ion-buttons>
    </ion-toolbar>
</ion-header>
